/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* khai báo font cho cả trang html */
html {
  font-family: helvetica, arial, sans-serif;
}

/* tỉ lệ màn hình */
.grid {
  width: 1286px;
  max-width: 100%;
  margin: 0 auto;
}

/*Start CSS NAV */
.header {
  height:82px;
  background-image: linear-gradient(to right,#44619d, #3c5a99, #46639e)
}

.header-content {
  display: flex;
  justify-content: space-between
}

.header-content-list {
  list-style: none;

}

.header-content-item-account  {
  margin-top:20px;
  margin-bottom:19px ;
}

.header-content-item-account a {
  text-decoration: none;
  color:#ffffff;
  /* height: 34px; */
  font-size:2.5rem;
  font-weight: 800
}

.header-content-item-account button {
  width: 79px;
  height:33px;
  transform: translateY(-31%);
  color: #fff;
  border-radius:3px;
  outline: none;
  background-color: #42b72a;
  font-size:1rem;
  font-weight:600;
  border: none;
  margin-left: 15px;


}

.header-content-item-account button:hover {
  background-color:#228B22

}

.header-content-item-join {
  margin-top:29px;
  margin-bottom:19px ;
  position: relative;
}

.header-content-item-join a {
  text-decoration: none;
  color: #fff;
  font-size:1rem;
  font-weight:600;
}

.header-content-item-join i {
  color: #fff;
  margin-left: 10px;
}

.header-content-item-join:last-child {
  margin-top: 40px;
}

.header-content-notify  {
  position:absolute;
  width: 335px;
  height: 350px;
  background-color: #fff;
  border: 1px solid #b4b6b8;
  margin-top: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-left: -19px;
  outline: none;
  /* display: none; */
}

/* tạo lớp giả để di chuột Tham gia hoặc đăng nhập Facebook ko bị mất phần đăng nhập */
/* .header-content-item-join::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  left: 0;
  top: 15px;
  display: block;
  
}
.header-content-item-join:hover .header-content-notify {
  display: block;
} */
.header-content-notify-text label { 
  display: block;
  margin: 14px 90px 0 17px;
  font-size: 1.2rem;
  color:#606770;
  font-weight: 500;

}

.header-content-notify-text input {
  width: 298px;
  height:32px;
  margin: 0 17px 0 17px;
  border: 1px solid #d3d6db;
  border-radius:2px;
  outline: none;
  background-color: #fff;

}

.header-content-notify-pass label {
  display: block;
  margin: 0 90px 0 17px;
  font-size: 1.2rem;
  color:#606770;
  font-weight: 500;
}

.header-content-notify-pass input {
  width: 298px;
  height:32px;
  margin: 0 17px 0 17px;
  border: 1px solid #d3d6db;
  border-radius:2px;
  outline: none;
  background-color: #fff;
}

.header-content-notify-pass input:hover {
  background-color:  #e8f0fe
}

.header-content-notify-text input:hover {
   background-color:  #e8f0fe
}


/* Css để mũi tên hiện ra */
.header-content-notify::before {
  position: absolute;
  border-style: solid;
  content: "";
  border-width: 26px 27px;
  border-color: transparent transparent #fff transparent;
  margin-top: -39px;
  margin-left: 272px;
}

.header-content-forgot {
  display: flex;
}
.header-content-forgot p {
  color:#385898;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  margin: 0 16px 16px 190px
}

.header-content-forgot p:hover {
  text-decoration: underline;
}

.header-content-btn {
  display: flex;
}
.header-content-btn button {
  width: 298px;
  height:32px;
  margin-left: 17px;
  margin-right:17px;
  background-color: #4267b2;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.header-content-btn button:hover {
  background-color:#365899;
  cursor: pointer;
}

.header-content-text {
  height: 113px;
  background-color: #f5f6f7;
  padding: 20px;
  margin-top: 37px;
  outline: none;
  display: block;
  border-radius: 5px;

}

.header-content-text p {
  margin-top:6px;
  font-size: 0.8rem;
  font-weight:700;
  color: #868687;
  margin-left: 21px;
  margin-right:21px;
  margin-bottom: 16px
  
}


.header-content-btn-register {
  display: flex;
}

.header-content-btn-register button {
  margin-top: -55px;
  margin-left: 117px;
  margin-right: 93px;
  margin-bottom: 20px;
  width: 90px;
  height: 37px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #42b72a;
  display: block;
  outline: none;
  border: none;
  border-radius: 3px;

}

.header-content-btn-register button:hover {
  background-color:#36a420;
  cursor: pointer;
}
/* End CSS Header */

/*Start CSS Content */
.content-container {
  height:900px;
  background-color: #e9ebee;
  /* display: flex;
  flex-direction: row;
  columns: 2; */
}

.content-create-page {
  display: flex
}

.grid-page {
  padding-top:20px;
  padding-bottom:18px;
  color: #27282b;
  font-size: 2.4rem;
  display: block;
  font-weight: bold
}

.grid-connect {
 font-size: 1.17rem;
}

.content-create-page {
  display: flex;
  flex-wrap: wrap;
  /* --columns: 1; */
}

.content-create-company {
  /* display: flex; */
  width: 631px;
    height: 667px;
  margin-top:48px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.content-create-public {
  /* display: flex; */
  width: 631px;
  height: 667px;
  margin-top:48px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  margin-left: 24px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-create-company--facebook {
  display: flex;
}

.content-create-company--facebook img {
  /* display: block; */
  width: 55%;
  height: 45%;
  margin-left: 165px;
  margin-top: 24px;
  margin-right: 139px;
}

.content-create-company span {
  margin-top: 38px;
  display: block;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 12px;
  margin-left: 122px;
}


.content-create-company-introduce {
  display: block;
  color: #90949c;
  font-size: 1.15rem;
  line-height: 20px;
  margin-left: 40px;
  margin-right: 28px;
  font-weight: 400;
}

.content-create-company-customer{
  display: block;
  color: #90949c;
  font-size: 1.15rem;
  line-height: 20px;
  margin-left: 122px;
  margin-right: 28px;
  font-weight: 400;
}

.content-create-company button { 
  
  color: rgb(68, 73, 80);
  width: 95px;
  height: 40px;
  margin-top: 130px;
  line-height: 26px;
  text-align: center;
  background-color: rgb(245, 246, 247);
  border: 1px solid #dadde1;
  outline: none;
  border-radius: 2px;
  margin-left: 253px;
  margin-right:195px;
  font-size:1rem;
  cursor: pointer;
}

/* ảnh 2 */
.content-create-public--share {
  display: flex;
}

.content-create-public--share img {
  width: 55%;
  height: 45%;
  margin-left: 165px;
  margin-top: 27px;
  margin-right: 139px;
}

.content-create-public span {
  margin-top: 56px;
  display: block;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 12px;
  margin-left: 80px;
}


.content-create-company-connect--share {
  display: block;
  color: #90949c;
  font-size: 1.15rem;
  line-height: 20px;
  margin-left: 40px;
  margin-right: 28px;
  font-weight: 400;
}

.content-create-company-clup{
  display: block;
  color: #90949c;
  font-size: 1.15rem;
  line-height: 20px;
  margin-left: 193px;
  margin-right: 28px;
  font-weight: 400;
}

.content-create-public button { 
  
  color: rgb(68, 73, 80);
  width: 95px;
  height: 40px;
  margin-top: 126px;
  line-height: 26px;
  text-align: center;
  background-color: rgb(245, 246, 247);
  border: 1px solid #dadde1;
  outline: none;
  border-radius: 2px;
  margin-left: 253px;
  margin-right:195px;
  font-size:1rem;
  cursor: pointer;
}